.form-root {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media (max-width: 992px) {
        flex-direction: column;
    }

    .info-side {
        width: 33%;
        background-color: $primary;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 2px solid $white;

        @media (max-width: 992px) {
            width: 100%;
        }

        img {
            margin-bottom: 3rem;
            width: 17rem;
        }

        a {
            font-size: 18px;
            color: $white;
            margin-bottom: 1rem;

            i {
                color: $primary;
                margin-right: 1rem;
                background-color: $white;
                padding: 0.8rem;
                border-radius: 50%;
                font-size: 20px;
            }
        }
    }

    .form-div {
        width: 67%;

        @media (max-width: 992px) {
            width: 100%;
        }

        form {
            padding: 0rem 2rem 3rem;
        }

        .form-control,
        .form-select {
            background-color: #ffffff !important;
            border: 1px solid $info;
        }

        .language-nav {
            padding: 0;
            margin-bottom: 1.5rem;
            padding: 1.5rem 2rem;
            border-bottom: 2px solid $primary;

            .form-label {
                padding-bottom: 0;
                margin-bottom: 0;
                font-size: 20px;
            }

            .form-check-input {
                margin: 0 1rem;
                float: inherit !important;

            }
        }
    }
}