nav {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .navbar-brand {
    max-width: calc(100% - 5rem);
    width: 13rem;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .nav-link {
    color: $dark;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 1.5rem;

    &:hover {
      color: #444343;
    }

    @media (max-width: 992px) {
      text-align: center;
    }
  }
}